NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
OPENAI_API_KEY=
OPENAI_END_POINT=https://api.openai.com/v1/responses
OPENAI_MODEL=gpt-5.5
GITHUB_API_KEY=
GITHUB_END_POINT=https://models.github.ai/inference/chat/completions
GITHUB_MODEL=gpt-5.5
ADMIN_EMAIL=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
